@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

:root {
  --black-1: #151515;
  --black-2: #242424;
  --gray-1: #d9d9d9;
  --white-1: #ffffff;
  --green-1: #4ee1a0;

  --body-bg-color: var(--black-1);
  --text-color: var(--white-1);
  --container-bg-color: var(--black-1);
  --text-gray-color: var(--gray-1);
}

html {
  /* This makes 1rem = 10px. I am going to use rem in this page. */
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--gray-1);
  color: var(--text-color);
}

/* Utility classes */
.container {
  max-width: 1440px;
  margin: auto;
  padding: 1rem 165px;
  background-color: var(--container-bg-color);
}

.heading-xl {
  font-family: "Space Grotesk", sans-serif;
  font-size: 7.8rem;
  padding: 0;
  margin: 0;
  line-height: 9rem;
  font-weight: bold;
}

.heading-lg {
  font-family: "Space Grotesk", sans-serif;
  font-size: 4.8rem;
}

.heading-md {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.4rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* ------------------------- */
/* Nav bar */
/* ------------------------- */
#navbar {
  padding-top: 1rem;
}

#navbar .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .developer-name p {
  font-size: 3.2rem;
  letter-spacing: 0.44rem;
}

#navbar .social-icons {
  margin-right: 2rem;
}

#navbar ul {
  display: flex;
  width: 192px;
  justify-content: space-between;
  align-items: center;
}

#navbar li {
  height: 25px;
  z-index: 2;
}

.icon:hover svg path {
  fill: var(--green-1);
}

/* ------------------------- */
/* Header contents */
/* ------------------------- */
.header-contents {
  display: grid;
  grid-template-columns: 4fr 1fr;
  position: relative;
  margin: 2rem 0;
}

.header-contents .rings {
  position: absolute;
  width: 500px;
  height: 120px;
  top: 10px;
  left: -50px;
  overflow: hidden;
}

.header-contents-a {
  padding-top: 8rem;
}

.developer-image {
  width: 445px;
  height: 720px;
}

.header-contents .developer-name-underline {
  border-bottom: 5px solid var(--green-1);
}

.lead {
  font-size: 1.3rem;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.header-contents .lead span {
  display: block;
  color: var(--text-gray-color);
  font-size: 1.8rem;
}

.header-contents .circle-img {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 400px;
  top: 400px;
  z-index: 2;
}

.header-contents .contact-me {
  margin-top: 5rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  padding: 1rem 0;
  border-bottom: 2px solid var(--green-1);
}

.header-contents .contact-me:hover {
  color: var(--green-1);
  cursor: pointer;
}

.separator {
  margin-top: 8rem;
  height: 0.1rem;
  background-color: var(--gray-1);
}

/* ------------------------- */
/* Skillset */
/* ------------------------- */
.skill-set-container {
  position: relative;
  margin-bottom: 14rem;
}

.skill-set {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem;
  position: relative;
}

.skill p {
  color: var(--text-gray-color);
  margin-top: 1rem;
  font-size: 1.5rem;
}

.skill-set-container .rings {
  position: absolute;
  top: 250px;
  right: 0px;
  max-width: 400px;
  height: 120px;
  z-index: 10;
}

.skill-set-container .rings img {
  overflow: hidden;
}

/* ------------------------- */
/* Projects */
/* ------------------------- */
.projects-container {
  margin-bottom: 10rem;
}

.projects-container .projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.projects-container .projects-header p {
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 3.6rem;
  border-bottom: 2px solid var(--green-1);
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.projects .project h3 {
  text-transform: uppercase;
  margin-top: 1rem;
}

.projects .project ul {
  display: flex;
  margin-top: 1rem;
}

.projects .project ul li {
  margin-right: 1.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--text-gray-color);
}

/* ------------------------- */
/* Contact */
/* ------------------------- */
.contact-container {
  max-width: 1440px;
  margin: auto;
  padding-top: 10rem;
  padding-left: 135px;
  padding-right: 135px;
  background-color: var(--black-2);
  position: relative;
}

.contact-container .contact-form {
  display: flex;
  justify-content: space-between;
}

.contact-container .contact-a p {
  margin: 2rem 0;
}

.contact-container .contact-a p span {
  display: block;
  color: var(--text-gray-color);
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  line-height: 1.6;
}

.contact-container .rings {
  position: absolute;
  width: 400px;
  height: 120px;
  top: 520px;
  left: 0px;
  overflow: hidden;
}

/* Contact form */
.contact-container .contact-b {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  position: relative;
}

.contact-container .contact-b form {
  width: 100%;
  padding: 2rem;
}

.contact-container .contact-b input,
.contact-container .contact-b textarea {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: var(--text-gray-color);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--text-gray-color);
  font-family: "Space Grotesk", sans-serif;
}

/* If class contains error */
.contact-container .contact-b input.error {
  border-bottom: 2px solid red;
  background-color: transparent;
}

.contact-container .contact-b input:focus {
  border-bottom: 2px solid var(--green-1);
  background-color: transparent;
}

.contact-container .contact-b input.valid {
  border-bottom: 2px solid var(--green-1);
  background-color: transparent;
}

/* TextArea relatd */
.contact-container .contact-b textarea {
  height: 10rem;
  resize: none;
}

.contact-container .contact-b textarea.error {
  border-bottom: 2px solid red;
}

.contact-container .contact-b textarea:focus {
  border-bottom: 2px solid var(--green-1);
}

.contact-container .contact-b textarea.valid {
  border-bottom: 2px solid var(--green-1);
  background-color: transparent;
}

.contact-container button {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 3px;
  padding: 1rem 0;
  margin-top: 5rem 0;
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--green-1);
  float: right;
}

.contact-container button:hover {
  cursor: pointer;
  color: var(--green-1);
}

.error-message {
  display: block;
  color: red;
  font-size: 1.3rem;
  text-align: right;
  height: 50px;
  padding: 0.3rem;
  margin: 0;
}

.contact-container .separator {
  margin-top: 8rem;
  height: 0.1rem;
  background-color: var(--gray-1);
}

/* ------------------------- */
/* Nav bar */
/* ------------------------- */
#navbar-bottom {
  background-color: var(--black-2);
  padding: 2rem 135px;
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}

#navbar-bottom .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-bottom .developer-name p {
  font-size: 3.2rem;
  letter-spacing: 0.44rem;
}

#navbar-bottom ul {
  display: flex;
}

#navbar-bottom li {
  height: 3.5rem;
  padding: 0rem 1.5rem;
  z-index: 2;
}

#navbar-bottom a {
  text-decoration: none;
  color: var(--white-1);
  border-bottom: 3px solid transparent;
  padding-bottom: 0.5rem;
  transition: border-color 0.3s;
}

/* ---------------------------------------- */
/* Mobile */
/* ---------------------------------------- */
@media (min-width: 375px) and (max-width: 768px) {
  .container {
    padding: 1rem 2rem;
  }

  .heading-xl {
    font-size: 4rem;
    line-height: 6rem;
  }

  #navbar .nav-items {
    flex-direction: column;
  }

  #navbar .social-icons {
    margin-top: 2rem;
  }

  .header-contents {
    grid-template-columns: repeat(1, 1fr);
  }

  .developer-image {
    width: 445px;
    height: 720px;
    position: relative;
  }

  .header-contents .lead span {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  /* Move it to center */
  .header-contents .contact-me {
    margin: 2rem 0;
    transform: translateX(80%);
  }

  .skill-set {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    text-align: center;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .projects .project {
    width: 100%;
  }

  .contact-container {
    max-width: 1440px;
    margin: auto;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--black-2);
    position: relative;
  }

  .contact-container .contact-form {
    flex-direction: column;
  }
}

/* ---------------------------------------- */
/* Tablet */
/* ---------------------------------------- */
@media (min-width: 769px) and (max-width: 1440px) {
  .container {
    padding: 1rem 4rem;
  }

  .skill-set {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .projects .project {
    width: 100%;
  }

  .contact-container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--black-2);
    position: relative;
  }

  .contact-container .contact-form {
    flex-direction: column;
    margin: 0 auto;
  }

  .contact-a {
    margin: 0 auto;
  }

  .contact-b {
    margin: 0 auto;
  }
}
